body{
    margin:1;
    padding:0;
}

img{
    width: 20vw;
    height: 20vh;
}

.container{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.box{
    width: 20vw;
    height: 20vh;
    border-radius: 10px;
    margin: 0;
    padding: 0;

    /* Cores */
    background-color: grey;
    border-color: white;
    color:white;

    /* FlexBox */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

